:root {
    --primary-text-color: rgb(0, 0, 0);
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --text-footer: #FFFFFF;

}


/*body*/

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/*logo*/

.logo {
    color: var(--primary-text-color);
    font-size: 26px;
}
.accent {
    color: var(--accent-color);
}

/*.site_nav + text*/

.site_nav a {
    color: var(--primary-text-color);
    
}
.site_nav :hover,
.site_nav :focus{
    color: var(--accent-color);
    font-size: 14px;
}

.site_nav .link.current {
    color: var(--accent-color);
}

.section-team {
    background-color: #F5F4FA;
}
.section-title {
    color: var(--primary-text-color);
    font-size: 14px;
}

.section-title-main {
    font-size: 36px;
}

.section-text {
    color: var(--text-color);
    font-size: 14px;
}

/*auth_nav*/

.auth_nav-title a {
    color: var(--text-color);
    font-size: 14px;
}

.auth_nav-title :hover,
.auth_nav-title :focus{
    color: var(--accent-color);
}


/*button*/

.bg {
    color: var(--primary-bg-color);
    background-color: #2F303A;
    font-size: 44px;
}

.button-primary{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-size: 16px;
}
/*Поправки маркеровок*/

ul {
    list-style: none;
}

/*Команда*/
.section-title-team {
    font-size: 16px;
    
}

.section-text-team {
    font-size: 16px;
    color: rgba(117, 117, 117, 1);

}

/*Футер*/

.logo-footer {
    color: var(--text-footer);
    font-size: 26px;
}

.footer-adress a{
    color: var(--text-footer);
}

.footer-adress-contact a{
    color: rgba(255, 255, 255, 0.6)
}



/*цвет основного текста #212121 */

/*вторичный цвет текста #757575 */

/*цвет перед кнопкой #FFFFFF */

/*вторичный цвет фона #F5F4FA */

/*акцент #2196F3 */

/*почта и номер в футере rgba(255, 255, 255, 0.6)
*/

